

.contentSpacing{

margin-bottom: 30px;

}


.contentArea{

margin: auto;
min-width: auto;
min-height: 500px;


}

.itemForm{

text-align: left;
/* padding: 12px 20px; */
margin: 8px 0;

}
.formText{

color: #BFBFBF;

}

.itemFormDescription{
  height: 100px;
}

.formInput{
width: 100%;


}

.titleBox{

background-color: #adceed;

}
.centeredText{


text-align: center;

}


.footer {
  clear: both;
  background-color: #909090;
  color: #BFBFBF;
  text-align: center;
  height: 100px;
  width: 100%;
  margin-bottom: 0px;

}


.navCol{
background-color: #212121;



}


.navLink{

text-decoration: none;
color: #BFBFBF;
text-align: center;


}

.navRow{

background-color: #6B6B6B;
height: 35px;
}



.pageStyling{

background-color: #BFBFBF;
color: #000000;
font-family: 'Times New Roman', Times, serif;
padding: 0px;

}


.header {

  height: 300px;
  width: 100%;


}


.headerStyling{
background-color: #909090;
padding: 0px;
text-align: center;

}

h1.headerStyling{


  font-size: 700%;
}



.menuItem {
  margin-bottom: 10px;
  background-color: #adceed;
  padding: 10% ;
  height: auto;
  border-style: solid;
  border: #909090;
  width: 100%;
  text-align: left;
 

}




.menuItemBox{
background-color: #6b6b6b;
padding-bottom: 30px;
height: 100%;

}


.menuItemTitle{


 
  font-style: oblique;

}


.faqBox{

 
    margin-bottom: 10px;
    background-color: #adceed;
    padding: 10px ;
    height: auto;
    border-style: solid;
    border: #909090;
    width: 100%;
    text-align: center;
   
 
}





/* ====================================+Slide CSS+=========================== */


.slide-container {
  width: 70%;
  margin: auto; }

h3 {
  text-align: center; }

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

.lineUp{

  display: inline-block;

}
span.lineUp{

 float: top;

}





/* .slideformate{


width: 600px;


} */



/* ====================================-Slide CSS-=========================== */

/* .menuSnapIn{



}



.advanceSearch{




}




.faqContainer{





}


.faqCol{



}

h2.faq{





}

p.faq{





}


.menuItem{

    
}



.mainPage{




} */




/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.navBar {
  background-color: tan;


}

.header {

  height: 300px;
  width: 100%;


}


h1.headerText {

  position: absolute;
  left: 33%;
  top: 19%;

}

.navBack {
  background-color: aqua;



}


ul.navArea {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.navArea {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover
li a:hover {
  background-color: #111;
}


.advanceSearch {


  height: 250px;
  background-color: #333;


}

.centered {

  margin-left: 45%;


}



.contentFormat {
  display: inline-block;
  width: 33%;
  height: auto;
  background-color: #333;
  margin-left: 10%;



}

.contentFormatLeft {

  float: left;

}

.contentFormatRight {

  float: right;

}




ul.content {
  list-style-type: none;
  overflow: hidden;

}

ol.content {
  list-style-type: none;
  overflow: hidden;
  float: left;

}


li.content {
  float: left;
}

.properSpacing {

  margin-top: 30px;
  margin-bottom: 30px;

}

.menuImg {

  width: 100px;
  height: 100px;
  float: right;

}



.faq {
  background-color: aquamarine;
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-bottom: 4%;
}

.menuSnapIn {
  height: auto;
  width: auto;
  background-color: #adceed;
  text-align: center;
  padding: 2% 3%;


}

.menuTable {

  width: 33%;



} */