/*===========================Page===============================*/
.pageStyling {
  background-color: #bfbfbf;
  color: #000000;
  font-family: "Times New Roman", Times, serif;
  padding: 0px;
}
@media only screen and (max-width: 250px) {
  .pageStyling {
    background-color: #bfbfbf;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    padding: 0px;
    margin: 0%;
  }
}

/*===========================Page===============================*/

/*===========================Header===============================*/
.header {
  height: 300px;
  width: 100%;
}

.headerStyling {
  background-color: #909090;
  padding: 0px;
  text-align: center;
}

h1.headerStyling {
  font-size: 700%;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 200px;
    width: 100%;
  }
  h1.headerStyling {
    font-size: 300%;
  }
}

/*===========================Header===============================*/
/*===========================Reactive===============================*/
@media only screen and (max-width: 600px) {
  .mobile {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .desktop {
    display: none;
  }
}
/*===========================Reactive===============================*/

/*===========================Nav===============================*/
.navCol {
  /* background-color: #212121; */
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  min-width: 75px;
}

.navLink {
  text-decoration: none;
  color: #bfbfbf;
  text-align: center;
}

.navRow {
  background-color: #6b6b6b;
  padding: 0%;
  padding-bottom: 7px;
  margin: 0%;
}

/*===========================Nav===============================*/
/*===========================Menu Item===============================*/

.menuItem {
  margin-top: 4px;
  margin-bottom: 10px;
  background-color: #adceed;
  padding: 10%;
  height: auto;
  border-style: solid;
  border: #909090;
  width: 100%;
  text-align: left;
}

.menuItemBox {
  background-color: #6b6b6b;
  padding: 0%;
  margin: 0%;
  padding-bottom: 30px;
  height: 100%;
}

.menuItemTitle {
  background-color: #adceed;
  padding: 0%;
  margin: 0%;
  font-style: oblique;
  align-content: center;
}

.menuFoodName {
  font-size: large;
}

@media only screen and (max-width: 600px) {
  .menuFoodName {
    font-size: small;
  }
}
.menuItemImg {
  width: 100%;
  height: 100%;
  max-height: 200px;
}

/*===========================Menu Item===============================*/

/*===========================Footer===============================*/

.footer {
  clear: both;
  background-color: #909090;
  color: #bfbfbf;
  text-align: center;
  height: 100px;
  width: 100%;
  margin-bottom: 0px;
}
/*===========================Footer===============================*/

/*===========================FAQ===============================*/
.faqBox {
  margin-bottom: 10px;
  background-color: #adceed;
  padding: 10px;
  height: auto;
  border-style: solid;
  border: #909090;
  width: 100%;
  text-align: center;
}

/*===========================FAQ===============================*/

/* ==========================Slide CSS=========================*/

.slide-container {
  width: 70%;
  margin: auto;
}

h3 {
  text-align: center;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

.lineUp {
  display: inline-block;
}
span.lineUp {
  float: top;
}

/* ==========================Slide CSS=========================*/

/* ==========================Forms=========================*/

.formTitle {
  color: BFBFBF;
  background-color: #adceed;
  font-size: large;
}

.formBox {
  background-color: #909090;
  color: BFBFBF;
}

/* ==========================Forms=========================*/
/* 

.contentSpacing{

margin-bottom: 30px;

}


.contentArea{

margin: auto;
min-width: auto;
min-height: 500px;


}

.itemForm{

text-align: left;
/* padding: 12px 20px; 
margin: 8px 0;

}



























 */
